@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');

section{
    background-color: #fff;
    width: 100%;
    height: max-content;
    padding: 32px 36px;
    border-radius: 12px;
    margin-bottom: 24px;
}

section > h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.input{
    background-color: rgba(250, 250, 250, 1);
    width: 400px;
    height: 56px;
    padding-left: 24px;
    color: rgba(235, 235, 235, 1);
    border: 2px solid rgba(235, 235, 235, 1);
    border-radius: 8px;
}

.input::placeholder, textarea::placeholder{
    color: rgba(235, 235, 235, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.dark{
    padding-left: 24px;
}

.dark::placeholder{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.long{
    width: 700px;
}

.selector{
    background-color: rgba(250, 250, 250, 1);
    padding: 12px 36px;
    border: 2px solid rgba(235, 235, 235, 1);
    border-radius: 28px;
    color: #000;
}

.short{
    padding: 12px 24px;
}

.row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
    width: 100%;
    height: min-content;
}

.row-1__col-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 126px;
    height: auto; 
}

.row-1__col-1 > p{
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #000;
}

.row-1__col-2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 12px;
    width: 1058px;
    height: auto;
}







/* =========== PROGRESS STEP ============== */

.main__new-first > h4{
    margin-bottom: 16px;
}


.main__progress-step{
    width: 100%;
    height: max-content;
    padding-block: 40px;
}


.main__progress-step h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    color: #000;
    text-align: center;
    margin-bottom: 8px;
}

.main__progress-step p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--light-color);
    text-align: center;
    margin-bottom: 32px;
}

.progres-step-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.progres-step-container > span:nth-child(1){
    color: var(--main-color);
}

.progres-step-container > span:first-of-type::after{
    background-color: var(--main-color);
}

.progres-step-container > span{
    position: relative;
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var(--light-color);
    padding-bottom: 12px;
}

.progres-step-container > span::after{
    position: absolute;
    top: 36px;
    left: 0;
    content: "";
    width: 100%;
    height: 10px;
    background-color: rgba(228, 228, 228, 1);
    border-radius: 4px;
}

.progress-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgba(250, 250, 250, 1);
    width: 386px;
    height: 124px;
    border: 2px solid rgba(235, 235, 235, 1);
    border-radius: 8px;
}

.main__new-first__container > .progress-btns > div, .main__new-second__container > .progress-btns > div{
    background: url(./assets/icons/Subtract.png);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    width: 33px;
    height: 37px;
}

.progress-btns > span{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: black;
}

.main__new-first{
    width: 100%;
    height: 236px;
}


.main__new-first__container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    height: min-content;
}

.main__new-first__container > .progress-btns:nth-child(1), .main__new-second__container > .progress-btns:nth-child(1){
    background-color: var(--background-btn);
    border-color: var(--main-color);
}

.main__new-first__container > .progress-btns:nth-child(1) > span, .main__new-second__container > .progress-btns:nth-child(1) > span{
    color: var(--main-color);
}


.main__new-first__container > .progress-btns:nth-child(2) > div{
    background: url(./assets/icons/direction-down\ 9.png);
    background-position: center;
    background-size: cover;
}

.main__new-first__container > .progress-btns:nth-child(3) > div{
    background: url(./assets/icons/direction-down\ 10.png);
    background-position: center;
    background-size: cover;
}

.main__new-second__container > .progress-btns:nth-child(2) > div{
    background: url(./assets/icons/direction-down\ 12.png);
    background-position: center;
    background-size: cover;
}

.main__new-second__container > .progress-btns:nth-child(3) > div{
    background: url(./assets/icons/direction-down\ 13.png);
    background-position: center;
    background-size: cover;
}

.main__new-second__container > .progress-btns:nth-child(4) > div{
    background: url(./assets/icons/direction-down\ 14.png);
    background-position: center;
    background-size: cover;
}

.main__new-second__container > .progress-btns:nth-child(5) > div{
    background: url(./assets/icons/direction-down\ 15.png);
    background-position: center;
    background-size: cover;
}

.main__new-second__container > .progress-btns:nth-child(6) > div{
    background: url(./assets/icons/direction-down\ 16.png);
    background-position: center;
    background-size: cover;
}




/* ============ SECOND SECTION =============== */

.main__new-second{
    width: 100%;
    height: 384px;
}

.main__new-second > h4{
    margin-bottom: 16px;
}

.main__new-second__container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}





/* =============== ADDRESS SECTION =================== */

.main__home-address{
    width: 100%;
    height: 688px;
}

.main__home-address > h4{
    margin-bottom: 24px;
}

.main__home-address__container__inputs{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: min-content;
    margin-bottom: 32px;
}

.main__home-address__container__inputs > .input:nth-child(1){
    width: 740px;
}

.main__home-address__container__inputs > .input:nth-child(2){
    width: 442px;
}

.main__home-address__container__map{
    background: url('./assets/img/map2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1206px;
    height: 480px;
    border-radius: 8px;
}



/* ======================== ABOUT HOME SECTION ===================== */

.main__about-home{
    width: 100%;
    height: 320px;
}

.main__about-home > h4{
    margin-bottom: 24px;
}

.main__about-home__container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}






/*  ==================  ABOUT FLAT SECTION ======================*/

.main__about-flat{
    width: 100%;
    height: 688px;
}

.main__about-flat > h4{
    margin-bottom: 24px;
}

.main__about-flat__container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main__about-flat__container > .row-1:nth-child(2) > .row-1__col-2 > input, .main__about-flat__container > .row-1:nth-child(3) > .row-1__col-2 > input{
    width: 342px;
}

.main__about-flat__container > .row-1:nth-child(2) > .row-1__col-2 {
    gap: 16px;
}

.main__about-flat__container > .row-1:nth-child(3) > .row-1__col-2 > p{
    margin-top: 17px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}




/* ======================== VIEW AND MORE SECTION ================== */

.mian__view-and-more{
    width: 100%;
    height: 654px;
}

.mian__view-and-more > h4{
    margin-bottom: 16px;
}

.mian__view-and-more > p{
    width: 1016px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--light-color);
    margin-bottom: 24px;
}

.main__view-and-more__container {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.message-input {
    width: 700px;
    height: 120px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.add-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-btn);
    width: 101px;
    height: 101px;
    border: 2px dashed var(--main-color);
    border-radius: 50%;
}

.add-pic:nth-child(1){
    background-image: url(./assets/img/room.png);
    background-position: center;
    background-size: cover;
    border: none;
}

.add-pic:nth-child(2){
    background-image: url(./assets/img/room2.png);
    background-position: center;
    background-size: cover;
    border: none;
}

.delete{
    background: url(./assets/icons/delete.png);
    width: 28px;
    height: 28px;
}

.add{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    width: 23px;
    height: 23px;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
}





/* ============================= PRICE AND DEAL SECTION ================== */

.main__price-and-deal{
    width: 100%;
    height: 320px;
    margin-bottom: 32px;
}

.main__price-and-deal > h4{
    margin-bottom: 24px;
}

.main__price-and-deal__container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}







/* ======================== CONTACTS SECTION ==================== */

.main__contacts{
    width: 100%;
    height: 400px;
    padding: 24px 36px;
}

.main__contacts > h4{
    margin-bottom: 24px;
}

.main__contacts__container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}





/* ============== SAVE BTNS =============== */

.save-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 5px;
    margin-right: 48px;
}

.save-btns > button{
    width: 280px;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.1rem;
}